.her {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.her__sidebar {
    width: 30%;
    margin: 0 0 0 10%;
}

.her__container {
    width: 70%;
}

.her__container__content__image img {
    width: 100%;
}