.preview-container {
    justify-content: space-between;
    /* align-items: center; */
    display: flex;
}

.preview-containt {
    display: flex;
    width: 60%;
    height: 60%;
}

.preview-containt .picture {
    width: 100%;
}

.preview-containt img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.projectButton {
    width: 30%;
}

.projectButton a {
    text-decoration: none;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .preview-containt .title {
        font-size: 19px;
    }
}

@media screen and (max-width: 1070px) {
    .preview-container {
        display: block;
    }
    .preview-containt .picture {
        width: 100%;
    }
    
    .preview-containt img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .preview-containt .picture {
        width: 100%;
        display: block;    
    }
    
    .preview-containt img {
        max-width: 100%;
        height: auto;
    }

    .preview-containt .title {
        font-size: 20px;
    }
}