.scroll {
    border: none;
    position: fixed;
    top: 90%;
    right: 1.5rem;
    background-color: transparent;
  }

  .scroll:hover {
    cursor: pointer;
    background-color: transparent;
    color: black;
  }
