.responsive-text {
  font-size: 1.5rem; /* Taille par défaut pour les écrans larges */
  line-height: 1.6; /* Hauteur de ligne pour une bonne lisibilité */
  margin: 20px; /* Espacement autour du texte */
}

/* Texte pour écrans moyens (tablettes) */
@media (max-width: 768px) {
  .responsive-text {
    font-size: 1.2rem; /* Réduit légèrement la taille de la police */
    line-height: 1.5;
    margin: 15px;
  }
}

/* Texte pour très petits écrans (mobiles) */
@media (max-width: 480px) {
  .responsive-text {
    font-size: clamp(
      0.5rem,
      1vw,
      1rem
    ); /* Taille plus petite pour les mobiles */
    line-height: 1.4;
    margin: 10px auto;
    text-align: left; /* Alignement à gauche pour améliorer la lisibilité */
  }
}

.responsive-image {
  width: 90%; /* L'image occupe 90% de la largeur de son conteneur */
  height: auto; /* Conserve les proportions */
  max-width: 100%; /* Empêche l'image de dépasser le conteneur */
  display: block; /* Évite les espaces indésirables sous l'image */
  margin: 0 auto; /* Centre l'image horizontalement */
}

/* Media query pour les écrans moyens (tablettes) */
@media (max-width: 768px) {
  .responsive-image {
    width: 95%; /* Réduit un peu la largeur pour les petits écrans */
  }
}

/* Media query pour les très petits écrans (mobiles) */
@media (max-width: 480px) {
  .responsive-image {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
  }
}
