.responsive-text {
  line-height: 1.6;
  margin: 20px;
}

/* Texte pour écrans moyens (tablettes) */
@media (max-width: 768px) {
  .responsive-text {
    font-size: 1.2rem; /* Réduit légèrement la taille de la police */
    line-height: 1.5;
    margin: 15px;
  }
}

/* Texte pour très petits écrans (mobiles) */
@media (max-width: 480px) {
  .responsive-text {
    font-size: clamp(
      0.5rem,
      1vw,
      1rem
    ); /* Taille plus petite pour les mobiles */
    line-height: 1.4;
    margin: 10px auto;
    text-align: left; /* Alignement à gauche pour améliorer la lisibilité */
  }
}
img {
  max-width: 100%;
  height: auto;
}
