body {
    --grey: rgb(155, 155, 155);
    --black: rgb(0, 0, 0);
    --white: rgb(235, 235, 235);
    
    /* desktop */
    --desktopPSize: 1.5rem;
    --desktopH1Size: 5rem;
    --desktopH2Size: 2.5rem;
    --desktopH3Size: 2rem;

    /* tablet */
    --tabletPSize: 1.2rem;
    --tabletH1Size: 2.5rem;
    --tabletH2Size: 2rem;
    --tabletH3Size: 1.5rem;
  
    /* mobile */
    --mobilePSize: 0.9rem;
    --mobileH1Size: 2.5rem;
    --mobileH2Size: 2rem;
    --mobileH3Size: 1.5rem;
}